# Ignore all (ensure binary files are not added)
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore *.out files
*.out

# Ignore C#/bin and C#/obj since they store "a bit" of metadata^^
C#/bin/
C#/obj/
